name: Python

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        command: build
        args: --release -i python3.10 --out dist
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install built wheel
      if: matrix.target == 'x86_64'
      run: |
        pip install gps_encoding --no-index --find-links dist --force-reinstall
        python test.py

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [linux]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: publish
          args: -u __token__ -p ${{ secrets.PYPI_PASSWORD }}
